<div class="user_container">

<div class="user_top">
  <h1><%= @user.username %>'s UserPage</h1>
</div>
<hr>


  <div class="user_shadow_box">

    <h2>Owned Subs:</h2>
    <hr>
    <ul>
      <% if !@user.subs.empty? %>
        <% @user.subs.each do |sub| %>
          <li>
            <a href="<%= sub_url(sub) %>">
              <h3>
                - <%= sub.title %>
              </h3>
            </a>
          </li>
          <% end %>
      <% else %>
          <li>
            <h3>
              No Subs created yet! - <a href="<%= new_sub_url %>">Add One!</a>
            </h3>
          </li>
      <% end %>
        </ul>
  </div>

  <div class="user_shadow_box">
    <h2>Subscriptions:</h2>
    <hr>

    <ul>
      <% if !@user.subscriptions.empty? %>
      <% @user.subscriptions.each do |subscription| %>
      <li>
        <a href="<%= sub_url(subscription) %>">
          <h3>
            - <%= subscription.title %>
          </h3>
        </a>
      </li>
      <% end %>
      <% else %>
      <li>
        <h3>
          No Subscriptions yet! - <a href="<%= subs_url %>">Find a new Sub!</a>
        </h3>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="user_shadow_box">

    <h2>Posts:</h2>
    <hr>
    <ul>
      <% if !@user.posts.empty? %>
      <% @user.posts.each do |post| %>
      <li>
        <a href="<%= post_url(post) %>">
          <h3>
            - <%= post.title %>
          </h3>
        </a>
      </li>
      <% end %>
      <% else %>
      <li>
        <h3>
          No Posts yet!
        </h3>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="user_shadow_box">

    <h2>Comments:</h2>
    <hr>
    <ul>
      <% if !@user.comments.empty? %>
      <% @user.comments.each do |comment| %>
      <li>
        <a href="<%= comment_url(comment) %>">
          <h3>
            - <%= comment.content[0..15] %>
          </h3>
        </a>
      </li>
      <% end %>
      <% else %>
      <li>
        <h3>
          No Comments yet!
        </h3>
      </li>
      <% end %>
    </ul>
  </div>

  <h2>Total Votes: <%= @user.votes.length %> </h2>

  <div class="user_shadow_box">


    <h2>Upvotes:</h2>
    <hr>
    <ul>
      <% if !@user.votes.empty? %>
        <% @user.votes.includes(:votable).each do |vote| %>
          <% if vote.value > 0 %>
            <li>
              <a href="<%= vote.votable_type == 'Post' ? post_url(vote.votable) : comment_url(vote.votable) %>">
                <h3>
                  - <%= vote.votable_type == 'Post' ? vote.votable.title : vote.votable.content[0..15] %>
                </h3>
              </a>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <li>
          <h3>
            No Upvotes yet!
          </h3>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="user_shadow_box">

    <h2>Downvotes:</h2>
    <hr>
    <ul>
      <% if !@user.votes.empty? %>
        <% @user.votes.each do |vote| %>
          <% if vote.value < 0 %>
            <li>
              <a href="<%= vote.votable_type == 'Post' ? post_url(vote.votable) : comment_url(vote.votable) %>">
                <h3>
                  - <%= vote.votable_type == 'Post' ? vote.votable.title : vote.votable.content[0..15] %>
                </h3>
              </a>
            </li>
            <% end %>
            <% end %>
            <% else %>
            <li>
              <h3>
                No Downvotes yet!
              </h3>
            </li>
            <% end %>
          </ul>
  </div>

</div>
