<h1>Posts from your Subscriptions</h1>


<ul>
  <% @posts.reverse.each do |post| %>
  <li class="post_shadow_box">
    <a href="<%= post_url(post.id) %>">
      <h3>
        <%= post.title %>
      </h3>
    </a>
    <br>
    <% post.posted_subs.each do |sub| %>
      <a href="<%= sub_url(sub.id) %>">
        <%= sub.title %>
      </a>
    <% end %>
    <br>
    -----
    Score:
    <%= post.score %>
    <br>
    -----
    Suggester:
    <a href="<%= user_url(post.author) %>">
      <%= post.author.username %>
    </a>
  </li>
  <% end %>
</ul>
