<li class="comment_shadow_box">
  <a href="<%= comment_url(comment) %>">
    <h4>
    <%= comment.content %>
    </h4>
  </a>
  <hr>
  <div class="comment_creator">

    <h2>
      Commenter:
    </h2>
      <a href="<%= user_url(comment.author) %>">
        <h3>
          <%= comment.author.username %>
        </h3>
      </a>
  </div>

  <ul>
    <li>
      <form action="<%= upvote_comment_url(comment) %>" method="post">
        <%= auth_token %>
        <input type="submit" name="submit" value="Upvote">
      </form>
    </li>
    <li>
      <form action="<%= downvote_comment_url(comment) %>" method="post">
        <%= auth_token %>
        <input type="submit" name="submit" value="Downvote">
      </form>
    </li>
  </ul>

  <div class="score_div">
    <h2>
      Score:
    </h2>
    <h4>
      <%= comment.score %>
    </h4>
  </div>


    <h3 id="reply_text_<%= comment.id %> " class="reply" onclick="toggleReplyBox(<%= comment.id %>)">
      Reply
    </h3>


  <form id="reply_box_<%= comment.id %>" class="hidden comment_form" action="<%= comments_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="comment[post_id]" value="<%= comment.post.id %>">
    <input type="hidden" name="comment[parent_comment_id]" value="<%= comment.id %>">
    <textarea name="comment[content]" rows="8" cols="20"></textarea>

    <input type="submit" name="" value="Reply">
  </form>

  <% if !comment.child_comments.nil? %>
    <%= render 'shared/comment', comments:comment.child_comments.order(:score)%>
    <% end %>
  </li>
