<li class="comment_shadow_box">
  <h4>
    <%= comment.content %>
  </h4>
  <hr>
  <div class="comment_creator">

    <h2>
      Commenter:
    </h2>
      <a href="<%= user_url(comment.author.id) %>">
        <h3>
          <%= comment.author.username %>
        </h3>
      </a>
  </div>
  <div class="score_div">
    <h2>
      Score:
    </h2>
    <h4>
      <%= comment.score %>
    </h4>
  </div>

  <a href="<%= comment_url(comment.id) %>">Reply</a>

  <ul>
    <li>
      <form action="<%= upvote_comment_url(comment) %>" method="post">
        <%= auth_token %>
        <input type="submit" name="submit" value="Upvote">
      </form>
    </li>
    <li>
      <form action="<%= downvote_comment_url(comment) %>" method="post">
        <%= auth_token %>
        <input type="submit" name="submit" value="Downvote">
      </form>
    </li>
  </ul>

  <% if !comment.child_comments.nil? %>
    <%= render 'comment', comments:comment.child_comments.sort_by(&:score)%>
    <% end %>
  </li>
