<footer>

  <div class="info_footer">
    <div id="care_div" class="footer_div">
      <h3>User Assistance</h3>
      <ul>
        <li><a href="#care_div"><i class="fas fa-phone" onclick="window.open('https://discord.com/new')"></i></a> - 403-824-2727</li>
        <li><a href="#care_div"><i class="fas fa-phone" onclick="window.open('https://discord.com/new')"></i></a>  - 587-348-2281</li>
        <li><a href="#care_div"><i class="fas fa-phone" onclick="window.open('https://discord.com/new')"></i></a>  - 629-554-2141</li>
        <li><a href="#care_div"><i class="far fa-envelope" onclick="window.open('https://protonmail.com')"></i></a>  - help@foodie.ca</li>
      </ul>
    </div>
    <ul class="footer_list">
      <li>
        <h3>Learn More</h3>
      </li>
      <li>
        <a href="/pages/about">
          About
        </a>
      </li>
      <li>
        <a href="/pages/terms">
          Terms
        </a>
      </li>
      <li>
        <a href="/pages/privacy">
          Privacy Policy
        </a>
      </li>
    </ul>
    <ul class="footer_list">
      <li>
        <h3>Do More</h3>
      </li>
      <li>
        <a href="<%= new_user_url %>">
          Add Sub
        </a>
      </li>
      <li>
        <a href="<%= new_session_url %>">
          Add Post
        </a>
      </li>
      <li>
        <a href="<%= new_sub_url %>">
          Log In
        </a>
      </li>
      <li>
        <a href="<%= new_post_url %>">
          Sign Up
        </a>
      </li>
    </ul>
    <ul class="footer_list">
      <li>
        <h3>Get In Touch</h3>
      </li>
      <li>
        <a href="/pages/careers">
          Careers
        </a>
      </li>
      <li>
        <a href="#care_div">
          Location
        </a>
      </li>
      <li>
        <a href="#care_div">
          Twitter
        </a>
      </li>
    </ul>
    <%= render 'shared/logo'%>
  </div>
  <div class="base_footer">
    Foodie -
    All Rights Reserved © 2020
  </div>
</footer>
