<ul id="header_dropdown" class="header_dropdown hidden">
  <li>
    <p>
      <a href="<%= user_url(current_user) %>">
        <%= current_user.username %>
      </a>
    </p>
  </li>
  <li>
    <p>
      <a href="<%= subscriptions_user_url(current_user) %>">
        Your Locations
      </a>
    </p>
  </li>
  <li>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <%= auth_token %>
      <input type="submit" value="Log Out">
    </form>
  </li>
</ul>
