<% if !current_user.nil? %>
  <ul>
    <li>Logged in as: <a href="<%= user_url(current_user) %>"><%= current_user.username %></a></li>
    <li>
      <a href="<%= new_sub_url %>">Create New Sub</a>
    </li>
    <li>
      <a href="<%= subs_url %>">All Subs</a>
    </li>
    <li>
      <a href="<%= subscriptions_user_url(current_user) %>">Your Subscriptions</a>
    </li>
    <li>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <%= auth_token %>
        <input type="submit" value="Log Out">
      </form>
    </li>
  </ul>

<% end %>
