<h1>All Subs</h1>
Sorted by:
<form class="" action="<%=  %>" method="get">
  <select class="" name="sub[option]">
    <option value="0" <%= params[:sub] && params[:sub][:option] == '0' ? 'selected' : '' %>>Title</option>
    <option value="2" <%= params[:sub] && params[:sub][:option] == '1' ? 'selected' : '' %>>Newest</option>
    <option value="1" <%= params[:sub] && params[:sub][:option] == '2' ? 'selected' : '' %>>Oldest</option>
  </select>
  <input type="submit" name="sort" value="Sort">
</form>
<ul>
<% @subs.each do |sub| %>
  <li>
      <h2>
        <a href="<%= sub_url(sub) %>">
          <%= sub.title %>
        </a>
      </h2>
      <p>
        Added by:<a href="<%= user_url(sub.moderator) %>"><%= sub.moderator.username %></a>
      </p>
      <p>
        Description:
        <%= sub.description %>
      </p>
  </li>
<% end %>
</ul>
<%= paginate @subs %>
