<div class="sub_container">

  <div class="sort_bar">
    <h1 class="page_title">All Subs</h1>
    <p>
      Sorted by:
    </p>
    <form action="" method="get">
      <select class="sort_options" name="sub[option]">
        <option value="0" <%= params[:sub] && params[:sub][:option] == '0' ? 'selected' : '' %>>Title</option>
        <option value="1" <%= params[:sub] && params[:sub][:option] == '1' ? 'selected' : '' %>>Oldest</option>
        <option value="2" <%= params[:sub] && params[:sub][:option] == '2' ? 'selected' : '' %>>Newest</option>
      </select>
      <input type="submit" name="sort" value="Sort">
    </form>
  </div>

  <ul class="subs_list">
    <% @subs.each do |sub| %>
    <li class="sub_shadow_box">
        <h2>
          <a href="<%= sub_url(sub) %>">
            <%= sub.title %>
          </a>
        </h2>
          <div class="">

            <p>
              Creator:
            </p>
            <a href="<%= user_url(sub.moderator) %>">
              <h4>
                <%= sub.moderator.username %>
              </h4>
            </a>
          </div>

          <p>
            Description:
            <%= sub.description %>
          </p>
        </li>
        <% end %>
      </ul>

      <%= paginate @subs %>
</div>
