<h1>All Subs</h1>
<ul>
<% @subs.each do |sub| %>
  <li>
      <h2>
        <a href="<%= sub_url(sub) %>">
          <%= sub.title %>
        </a>
      </h2>
      <p>
        Added by:<a href="<%= user_url(sub.moderator) %>"><%= sub.moderator.username %></a>
      </p>
      <p>
        Description:
        <%= sub.description %>
      </p>
  </li>
<% end %>
</ul>
<%= paginate @subs %>
