<h1>Welcome to <%= @sub.title %></h1>
<% if current_user == @sub.moderator %>
  <a href="<%= edit_sub_url(@sub) %>">Edit sub</a>
<% end %>
<ul>
  <li>
    <form action="<%= subscribe_sub_url(@sub) %>" method="post">
      <%= auth_token %>
      <input type="submit" name="submit" value="Subscribe">
    </form>
  </li>
  <li>
    <form action="<%= unsubscribe_sub_url(@sub) %>" method="post">
      <%= auth_token %>
      <input type="submit" name="submit" value="Unsubscribe">
    </form>
  </li>
</ul>
<h3>
  <%= @sub.description %>
</h3>
<h3>Mod:
  <%= @sub.moderator.username  %>
</h3>

<h2>POSTS:</h2>

<ul>
  <% @sub.sub_posts.order(:score).includes(:author, :votes).reverse.each do |sub_post| %>
  <li>
    <a href="<%= post_url(sub_post) %>">
      <%= sub_post.title %>
    </a>
    Score:
    <%= sub_post.score %>
    <ul>
      <li>
        Poster:
        <a href="<%= user_url(sub_post.author) %>">
          <%= sub_post.author.username %>
        </a>
      </li>
      <li>
        <form action="<%= upvote_post_url(sub_post) %>" method="post">
          <%= auth_token %>
          <input type="submit" name="submit" value="Upvote">
        </form>
      </li>
      <li>
        <form action="<%= downvote_post_url(sub_post) %>" method="post">
          <%= auth_token %>
          <input type="submit" name="submit" value="Downvote">
        </form>
      </li>
    </ul>
  </li>
  <% end %>
</ul>

<a href="<%= new_post_url %>">Create New Post</a>
