<h1 class="page_title">Sub: <%= @sub.title %></h1>
<% if current_user == @sub.moderator %>
  <a href="<%= edit_sub_url(@sub) %>">Edit Sub</a>
<% end %>
<ul>
  <li>
    <form action="<%= subscribe_sub_url(@sub) %>" method="post">
      <%= auth_token %>
      <input type="submit" name="submit" value="Subscribe">
    </form>
  </li>
  <li>
    <form action="<%= unsubscribe_sub_url(@sub) %>" method="post">
      <%= auth_token %>
      <input type="submit" name="submit" value="Unsubscribe">
    </form>
  </li>
</ul>
<h3>
  Description:
  <%= @sub.description %>
</h3>
<h3>Owner:
  <%= @sub.moderator.username  %>
</h3>

<a href="<%= new_post_url %>">Add Post</a>

<h2>Posts:</h2>
<div class="sort_bar">
  Sorted by:
  <form class="" action="<%=  %>" method="get">
    <select class="" name="sub[option]">
      <option value="0" <%= params[:sub] && params[:sub][:option] == '0' ? 'selected' : '' %>>Score</option>
      <option value="1" <%= params[:sub] && params[:sub][:option] == '1' ? 'selected' : '' %>>Title</option>
      <option value="2" <%= params[:sub] && params[:sub][:option] == '2' ? 'selected' : '' %>>Oldest</option>
      <option value="3" <%= params[:sub] && params[:sub][:option] == '3' ? 'selected' : '' %>>Newest</option>
    </select>
    <input type="submit" name="sort" value="Sort">
  </form>
</div>

<ul class="subs_list">
  <% @paginate_posts.each do |sub_post| %>
  <li>
    <a href="<%= post_url(sub_post) %>">
      <%= sub_post.title %>
    </a>
    <br>
    Score:
    <%= sub_post.score %>
    <ul>
      <li>
        Added by:
        <a href="<%= user_url(sub_post.author) %>">
          <%= sub_post.author.username %>
        </a>
      </li>
      <li>
        <form action="<%= upvote_post_url(sub_post) %>" method="post">
          <%= auth_token %>
          <input type="submit" name="submit" value="Upvote">
        </form>
      </li>
      <li>
        <form action="<%= downvote_post_url(sub_post) %>" method="post">
          <%= auth_token %>
          <input type="submit" name="submit" value="Downvote">
        </form>
      </li>
    </ul>
  </li>
  <% end %>
</ul>
<div class="pagination">
  <%= paginate @paginate_posts %>
</div>
