
<% comment.each do |sub_comment| %>
<div style="background: gray; border: 1px solid green; margin-bottom: 3px;">
  <ul>
    <li>

      <a href="<%= user_url(sub_comment.author.id) %>"><%= sub_comment.author.username %></a> says:

      <%= sub_comment.content %>
       - <a href="<%= comment_url(sub_comment) %>" style="font-size:12px;">Reply</a>

      <% if sub_comment.child_comments %>
        <%= render 'comment', comment:sub_comment.child_comments %>
        <% end %>
      </li>
  </ul>
</div>
<% end %>
