<% comments.each do |comment| %>
  <div style="background: gray; border: 1px solid green; margin-bottom: 3px;">
    <ul>
      <li>

        <a href="<%= user_url(comment.author.id) %>"><%= comment.author.username %></a> says:

        <%= comment.content %>
        - <a href="<%= comment_url(comment.id) %>" style="font-size:12px;">Reply</a>

        <% if @all_comments[comment.id] %>
          <%= render 'comment', comments:@all_comments[comment.id] %>
          <% end %>
        </li>
      </ul>
    </div>
<% end %>
