<% action = (post.persisted? ? post_url(post) : posts_url) %>
<% method = (post.persisted? ? 'patch' : 'post') %>
<% message =(post.persisted? ? 'Update Post' : 'Add Post') %>


<form action="<%= action %>" method="post">
    <input
      type="hidden"
      name="_method"
      value="<%= method %>">
    <%= auth_token %>

    <label for="title">Title:</label>
    <input
      type="text"
      name="post[title]"
      value="<%= @post.title %>"
      required>

    <label for="content">Comment *optional*:</label>
    <textarea id="description" name="post[content]" rows="8" cols="60" required><%= @post.content %></textarea>

    <label for="subs">Add Subs:</label>
    <% Sub.all.each do |sub| %>
    <input type="checkbox" name="posted_sub_ids[]" value="<%= sub.id %>"
      <%= sub.sub_post_ids.include?(@post.id) ? "checked" : "" %>>
      <label for="post[subs]"><%= sub.title %></label>
    <% end %>

    <br>

    <input type="submit" value="<%= message %>">
</form>
