<% action = (post.persisted? ? post_url(post) : posts_url) %>
<% method = (post.persisted? ? 'patch' : 'post') %>
<% message =(post.persisted? ? 'Update Post' : 'Create Post') %>


<form action="<%= action %>" method="post">
    <input
      type="hidden"
      name="_method"
      value="<%= method %>">
    <%= auth_token %>

    <label for="title">Title:</label>
    <input
      type="text"
      name="post[title]"
      value="<%= @post.title %>">

    <label for="url">URL *optional*: </label>
    <input
      type="text"
      name="post[url]"
      value="<%= @post.url %>">


    <label for="content">Content *optional*:</label>
    <textarea id="description" name="post[content]" rows="8" cols="60"><%= @post.content %></textarea>

    <!-- This will be chanmged out for a checkbox list instead
          or a searchbar/ dropdown that then stacks the selected subs in
          boxes that can be 'X'/closed/removed independently.-->
    <label for="sub">Sub:</label>
    <select id="sub" name="post[sub_id]">
      <option>-- Choose One --</option>
      <% Sub.all.each do |sub| %>
        <option value="<%= sub.id %>">
          <%= h(sub.title) %>
        </option>
      <% end %>
    </select>

    <br>

    <input type="submit" value="<%= message %>">
</form>
