<div class="post_container">
  <div class="post_top">

    <h1><%= @post.title %></h1>

    <h2>Posted Subs:</h2>

    <ul class="posted_subs">

      <% @post.posted_subs.each do |sub| %>
        <li>
          <a href="<%= sub_url(sub) %>">
            <h3>
              <%= sub.title %>
            </h3>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="post_creator">
      <h2>
        Poster:
      </h2>
      <a href="<%= user_url(@post.author) %>">
        <h3>
          <%= @post.author.username %>
        </h3>
      </a>
    </div>

    <div class="score_div">
      <h2>
        Score:
        <h4>
          <%= @post.score %>
        </h4>
      </h2>
    </div>

    <ul>
      <li>
        <form action="<%= upvote_post_url(@post) %>" method="post">
          <%= auth_token %>
          <input type="submit" name="submit" value="Upvote">
        </form>
      </li>

      <li>
        <form action="<%= downvote_post_url(@post) %>" method="post">
          <%= auth_token %>
          <input type="submit" name="submit" value="Downvote">
        </form>
      </li>
    </ul>

    <% if current_user == @post.author %>
      <a href="<%= edit_post_url(@post) %>">Edit Post</a>
    <% end %>

    <hr>

    <h2>Content:</h2>

    <% if @post.content %>
      <h4><%= @post.content %></h4>
    <% else %>

      <p>No Content</p>
    <% end %>
    <hr>
    <form class="comment_form" action="<%= comments_url %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">

      <textarea name="comment[content]" rows="8" cols="80"></textarea>

      <input type="submit" name="" value="Comment">
    </form>
    <p>*Max 250 chars</p>
    <div class="replies_bar">
      <h2>Comments:</h2>
    </div>
  </div>

    <% if @post.comments %>
      <%= render 'shared/comment', comments: @post.comments.where(parent_comment_id:nil).order(:score) %>
    <% end %>

</div>
