<!DOCTYPE html>
<html>
  <head>
    <title>Foodit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= fontawesome_kit_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/userbar" %>
    <%= render "shared/errors" %>
    <%= render "shared/messages" %>

    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
